.profile-links {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
}
.profile-links a {
    font-size: 0.7em;
    text-decoration: underline;
    color: rgb(107, 133, 132);
    transition: font-size 300ms;
}
.profile-links a:hover {
    color: rgb(80, 98, 97);
    font-size: 0.68em;
    cursor: pointer;
}
.profile-links a:active {
    color: rgb(22, 35, 35);
}


.profile-list {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    background-color: rgb(253, 249, 247);
    border-radius: 20px;
    padding: 10px;
    font-size: 0.4em;
    width: 85%;
    margin: 48px auto;
}
nav ul li {
    font-size: 1em;
    padding: 20px;
}

li {
    padding-bottom: 20px;
}

.edit-button {
    border-style: none;
    background-color: rgb(145, 187, 186);
    font-size: 1em;
    border-radius: 20px;
    padding: 10px;
    margin-top: 30px;
    width: 100%;

}
.edit-button:hover {
    background-color: rgb(222, 154, 1)
}

#delete-button {
    border-style: none;
    background-color: rgb(222, 192, 208);
    border-radius: 20px;
    font-size: 1em;
    padding: 10px;
    margin-top: 30px;
}
#delete-button:hover {
    background-color: rgb(182, 76, 76);
}

.edit-delete {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
#profile-link {
    color: rgb(45, 70, 70);
}

@media screen and (min-width: 600px) {
    .profile-list {
        width: 50%;
        font-size: 0.3em;
    }
    .edit-delete {
        justify-content: space-evenly;
    }
    ul {
        margin-bottom: -16px;
    }
    .edit-button{
        font-size: 1.1em;
        width: 130%;
    }
    #delete-button {
        font-size: 1.4em;
    }
    .profile-links {
        font-size: 1em;
    }
    .message, .profile, .logout {
        font-size: 1.25em;
    }
    .home {
        margin-bottom: -24px;
    }
    nav {
        justify-content: space-between;
    }
}